@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;500;800&family=Saira+Extra+Condensed:wght@400;500;700&display=swap');

html{
	scroll-behavior: smooth;
}

.container-fluid{
	padding: 0;
}

// Navigation Bar
.top{
	display: block;

	.navbar {
		background-color: #bd5d38;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 100;
	
		.navbar-brand {
			font-family: 'Muli', sans-serif;
			font-size: 1.7rem;
			font-weight: 800;
			letter-spacing: 2px;
		}
	
		.navbar-collapse {
			.menu {
				display: flex;
				justify-content: space-between;
	
				.logo {
					margin-left: 2rem;
				}
	
				.nav-link {
					font-family: 'Muli', sans-serif;
					font-size: 1.5rem;
					font-weight: 500;
					text-align: right;
				}
			}
		}
	}
}

// Side menu
.left{
	width: 17rem;
	height: 100vh;
	position: fixed;
	background: #bd5d38;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.rounded-circle{
		border: 10px solid #ffffff36;
	}

	.navbar-nav{
		position: relative;
		list-style: none;
		margin: 0;
		padding: 1rem;
		text-align: center;
		font-family: 'Saira Extra Condensed', sans-serif;
		font-size: 2rem;
		
		a{
			letter-spacing: 1px;
			text-decoration: none;
			color: rgba(255, 255, 255, 0.5);

			&:hover{
				color: #fff;
			}
		}
	}
}

// Hero Section
.right {
	scroll-behavior: smooth;

	h2{
		font-size: 4rem;
		font-weight: 800;
		margin-bottom: 2rem;
		text-transform: uppercase;
		font-family: 'Saira Extra Condensed', sans-serif;
	}
	
	// About
	#about {
		width: calc(100% - 17rem);
		margin-left: 17rem;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-family: 'Saira Extra Condensed', sans-serif;
		padding: 0 15px;

		.name {
			font-size: 7rem;
			text-transform: uppercase;
			color: #343a40;
			position: relative;

			p {
				font-weight: 700;
				margin: 0;

				span {
					color: #bd5d38;
				}
			}

			.subheading {
				font-weight: 300;
				font-size: 1.5rem;
				position: relative;
				bottom: 2rem;
			}


		}

		.para1 {
			font-family: 'muli';
			font-weight: 300;
			font-size: 1.2rem;
			line-height: 2rem;
		}

		.icon {
			display: flex;
			margin: 1rem 0;

			.social-icon {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				width: 70px;
				height: 70px;
				background-color: #343a40;
				border-radius: 100%;
				margin-right: 15px;

				&:hover {
					background-color: #bd5d38;
					transform: translateY(-10px);
					transition: transform .2s ease;
				}

				svg {
					width: 50%;
					height: 50%;
					color: #fff;
				}
			}
		}
	}

	// Experience
	#experience{
		width: calc(100% - 17rem);
		margin-left: 17rem;
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-family: 'Saira Extra Condensed', sans-serif;
		padding: 0 15px;

		.exp{
			margin-top: 10rem;
		}

		.project{
			display: flex;
			justify-content: center;
			flex-wrap: wrap;

			.item{
				width: 400px;
				min-height: 200px;
				margin: 20px 10px;
				-webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
				box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

				&:hover{
					transform: translateY(-10px);
				}

				img{
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	// Education
	#education{
		width: calc(100% - 17rem);
		margin-left: 17rem;
		height: 100vh;
		font-family: "Saira Extra Condensed";
		font-weight: 700;
		line-height: 1.2;
		color: #343a40;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 15px;

		.college{
			font-size: 2.5rem;
			font-weight: 900;
			
		}

		.pg, .dept, .cgpa, .year{
			font-size: 1.7rem;
			font-weight: 300;
		}

		.year{
			color: #bd5d38;
		}
	}

	// Skills
	#skills{
		width: calc(100% - 17rem);
		margin-left: 17rem;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-family: 'Saira Extra Condensed', sans-serif;
		padding: 0 15px;

		p{
			font-size: 2rem;
			font-weight: 500;
			margin: 0;
		}

		.icons{
			color: #666;
			font-size: 5rem;

			i{
				margin: 0 1rem;
			}
		}
	}

	// Contact
	#contact{
		width: calc(100% - 17rem);
		margin-left: 17rem;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-family: 'Saira Extra Condensed', sans-serif;
		background:linear-gradient(0deg, #bd5e38c9), url(../img/nature-forest-trees-fog-4827.jpg);
		background-size: cover;

		input[type=text], select, textarea {
			width: 100%;
			padding: 12px;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-sizing: border-box;
			margin-top: 6px;
			margin-bottom: 16px;
			resize: vertical;
			
		  }
		  
		  input[type=submit] {
			background-color: #4CAF50;
			color: white;
			padding: 12px 20px;
			border: none;
			border-radius: 4px;
			cursor: pointer;
		  }
		  
		  input[type=submit]:hover {
			background-color: #45a049;
		  }
		  
		  .container {
			border-radius: 5px;
			background-color: #f2f2f2;
			padding: 20px;
			font-size: 1.2rem;
		  }

	}

}

@media only screen and (max-width: 992px) {
	.left{
		display: none;
	}
	.right{
		#about{
			margin-left: 0;
			width: 100%;
		}
		#experience{
			margin-left: 0;
			width: 100%;
		}
		#education{
			margin-left: 0;
			width: 100%;
		}
		#skills{
			margin-left: 0;
			width: 100%;
		}
		#contact{
			margin-left: 0;
			width: 100%;
		}
	}
  }

@media only screen and (min-width: 992px) {
	.top{
		display: none;
	}
  }

@media only screen and (max-width: 545px){
	.top{
		.navbar{
			.navbar-brand{
				font-size: 1rem;
				font-weight: 800;
				letter-spacing: 0;
			}
			.navbar-collapse{
				.menu{
					.nav-link{
						font-size: 1rem;
					}
				}
			}
		}
	}

	.right{
		h2{
			font-size: 3rem;
			font-weight: 800;
			margin-bottom: 2rem;
		}

		#about{
			.name{
				font-size: 3.3rem;
				.subheading{
					font-weight: 300;
					font-size: 1rem;
					bottom: 1rem;
				}
			}
			.para1{
				font-size: 0.8rem;
				line-height: 1.2rem;
			}

			.icon{
				.social-icon{
					width: 50px;
					height: 50px;
				}
			}
		}

		#experience{
			.exp{
				margin: 3.6rem 0 0 0;
			}
		}

		#education{
			.box{
				margin-bottom: 1.5rem;
				.college{
					font-size: 1.18rem;
					font-weight: 900;
					margin-bottom: 0;
				}
				.pg, .dept, .cgpa, .year{
					font-size: 1rem;
					font-weight: 300;
					margin-bottom: 0;
				}
			}
		}

		#skills{
			p{
				font-size: 1.3rem;
			}
			.icons{
				font-size: 2.5rem;
				i{
					margin: 15px 8px 0 0;
				}
			}
		}

		#contact{

			input[type=text], select, textarea {
				padding: 10px;
				margin-top: 2px;
				margin-bottom: 10px;
			}
			  
			input[type=submit] {
				background-color: #4CAF50;
				color: white;
				padding: 12px 20px;
				border: none;
				border-radius: 4px;
				cursor: pointer;
			}
			  
			input[type=submit]:hover {
				background-color: #45a049;
			}
			.container{
				font-size: 1rem;
			}
		}
	}
}
