@import url("https://fonts.googleapis.com/css2?family=Muli:wght@300;500;800&family=Saira+Extra+Condensed:wght@400;500;700&display=swap");
html {
  scroll-behavior: smooth;
}

.container-fluid {
  padding: 0;
}

.top {
  display: block;
}

.top .navbar {
  background-color: #bd5d38;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

.top .navbar .navbar-brand {
  font-family: 'Muli', sans-serif;
  font-size: 1.7rem;
  font-weight: 800;
  letter-spacing: 2px;
}

.top .navbar .navbar-collapse .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top .navbar .navbar-collapse .menu .logo {
  margin-left: 2rem;
}

.top .navbar .navbar-collapse .menu .nav-link {
  font-family: 'Muli', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: right;
}

.left {
  width: 17rem;
  height: 100vh;
  position: fixed;
  background: #bd5d38;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left .rounded-circle {
  border: 10px solid #ffffff36;
}

.left .navbar-nav {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 2rem;
}

.left .navbar-nav a {
  letter-spacing: 1px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.left .navbar-nav a:hover {
  color: #fff;
}

.right {
  scroll-behavior: smooth;
}

.right h2 {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-family: 'Saira Extra Condensed', sans-serif;
}

.right #about {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Saira Extra Condensed', sans-serif;
  padding: 0 15px;
}

.right #about .name {
  font-size: 7rem;
  text-transform: uppercase;
  color: #343a40;
  position: relative;
}

.right #about .name p {
  font-weight: 700;
  margin: 0;
}

.right #about .name p span {
  color: #bd5d38;
}

.right #about .name .subheading {
  font-weight: 300;
  font-size: 1.5rem;
  position: relative;
  bottom: 2rem;
}

.right #about .para1 {
  font-family: 'muli';
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2rem;
}

.right #about .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
}

.right #about .icon .social-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  background-color: #343a40;
  border-radius: 100%;
  margin-right: 15px;
}

.right #about .icon .social-icon:hover {
  background-color: #bd5d38;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

.right #about .icon .social-icon svg {
  width: 50%;
  height: 50%;
  color: #fff;
}

.right #experience {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Saira Extra Condensed', sans-serif;
  padding: 0 15px;
}

.right #experience .exp {
  margin-top: 10rem;
}

.right #experience .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.right #experience .project .item {
  width: 400px;
  min-height: 200px;
  margin: 20px 10px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.right #experience .project .item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.right #experience .project .item img {
  width: 100%;
  height: 100%;
}

.right #education {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  height: 100vh;
  font-family: "Saira Extra Condensed";
  font-weight: 700;
  line-height: 1.2;
  color: #343a40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
}

.right #education .college {
  font-size: 2.5rem;
  font-weight: 900;
}

.right #education .pg, .right #education .dept, .right #education .cgpa, .right #education .year {
  font-size: 1.7rem;
  font-weight: 300;
}

.right #education .year {
  color: #bd5d38;
}

.right #skills {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Saira Extra Condensed', sans-serif;
  padding: 0 15px;
}

.right #skills p {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
}

.right #skills .icons {
  color: #666;
  font-size: 5rem;
}

.right #skills .icons i {
  margin: 0 1rem;
}

.right #contact {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Saira Extra Condensed', sans-serif;
  background: -webkit-gradient(linear, left bottom, left top, from(#bd5e38c9)), url(../img/nature-forest-trees-fog-4827.jpg);
  background: linear-gradient(0deg, #bd5e38c9), url(../img/nature-forest-trees-fog-4827.jpg);
  background-size: cover;
}

.right #contact input[type=text], .right #contact select, .right #contact textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.right #contact input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.right #contact input[type=submit]:hover {
  background-color: #45a049;
}

.right #contact .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  font-size: 1.2rem;
}

@media only screen and (max-width: 992px) {
  .left {
    display: none;
  }
  .right #about {
    margin-left: 0;
    width: 100%;
  }
  .right #experience {
    margin-left: 0;
    width: 100%;
  }
  .right #education {
    margin-left: 0;
    width: 100%;
  }
  .right #skills {
    margin-left: 0;
    width: 100%;
  }
  .right #contact {
    margin-left: 0;
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .top {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */